.Sidelist {
    padding: 15px 0px;

    > .Sidelist__ul {
        li {
            padding: 3px 0px;

            label {
                margin: 0px 0px 0px 5px;
            }
        }
    }
}

